* {
  transition-property: all;
  transition-duration: 0.3s;
  transition-timing-function: ease-in-out;
}

html {
  background-color: black;
}

.menu_shape {
  background: black;
 height: 70px;
 width: 65px;
 border-bottom-right-radius: 90px;
 border-bottom-left-radius: 90px;
}

.headshot {
  background-image: url('./assets/headshot_bg.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  filter: grayscale(100%);
  z-index: 1;
}

.left_block {
  background-image: url('./assets/dteat_white.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  filter: grayscale(100%);
  z-index: 1;
}

.nav-btn::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 0.15rem;
  border-radius: 100px;
  left: 0;
  bottom: 0;
  background: #333333;
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.3s ease;
}

.nav-btn:hover::after {
  transform: scaleX(1);
}

@media (max-width: 768px) {
  .headshot {
    background-position: right;
  }
}

@media (max-width: 640px) {
  .left_block {
    background-position: top;
  }
}